.userTab {
    // width: 800px;
    max-width: 800px;
    height: 100%;
    // margin: 0 auto;
    margin-top: 3rem;
    // background: white;
    // background-color: lightgr;
    border: 1px solid grey;
    margin: 100px auto;
    // justify-content: center;
  
    @media (max-width: 350px) {
      width: 100%;
      margin-top: 6rem;
    }
  }

  .userTabContent {
    padding: 8px;
    height: 100%;
  
    // @include mobile {
    //   padding: 0;
    // }
  }
  
  .userTabNav {
    // background: white;
    background-color: lightgrey;
    border-bottom: 1px solid grey;
    padding: 0 12px;

  
    @media (max-width: 350px) {
      padding: 0;
    }
  }
  
  .userTabMenu {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: -1px;
    // background-color: lightgray;
  }
  
  .userTabItem {
    list-style-type: none;
    color: rgb(0, 0, 0);
    // color: grey;
    padding: 8px;
    font-size: 1rem;
    border-bottom: 1px solid transparent;
    display: inline-block;
    transition: all .3s ease;
  
    &:hover {
      cursor: pointer;
      background: white;
    }
  }
  
  .userTabActive {
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom: 1px solid white;
    background: white;
    
  
    &:hover {
      cursor: default;
      background: white;
    }
  }
  
  
  