
  
  .productCard {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .productCard p {
    margin: 0;
  }
  
  .productName {
    font-weight: bold;
  }
  
  .productPrice {
    color: green;
  }
  
  .productCategory {
    color: blue;
  }
  
  .formGroup {
    display: grid;
  }

  .postRequestContainer {
    min-width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .inputField {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-left: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #e3dcdc;
}

.submitButton {
  background-color: #34a853;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  right: 0;
}
  